In [2]:
import numpy as np
import pandas as pd

from CollaborativeFiltering import UserBasedCF, ItemBasedCF

In [11]:
def cosine(a, b):
    return np.sum([(ai*bi) for ai, bi in zip(a, b)])/(np.sqrt(np.sum([ai**2 for ai in a]))*np.sqrt(np.sum([bi**2 for bi in b])))

In [5]:
    data_dict = {'userID': [1,1,1,1,1, 2,2,2,2,2, 3,3,3,3,3, 4,4,4,4,4], 
             'movieID': [1,2,3,4,5, 1,2,3,4,5, 1,2,3,4,5, 1,2,3,4,5], 
             'rating': [np.nan ,4,1,1, np.nan,  1,2, 4,np.nan, 1,  5, 5, 3,4,np.nan, 5,5,1, np.nan, 1]}
data = pd.DataFrame.from_dict(data_dict)
# recommender = UserBasedCF(data, 2, 'userID', 'movieID', 'rating')
# recommender.recommend(1, 1)

In [6]:
rating_matrix = data.pivot(index = 'userID', columns = 'movieID', values = 'rating')

In [9]:
rating_matrix

movieID    1    2    3    4    5
userID
1        NaN  4.0  1.0  1.0  NaN
2        1.0  2.0  4.0  NaN  1.0
3        5.0  5.0  3.0  4.0  NaN
4        5.0  5.0  1.0  NaN  1.0

In [ ]:
row_mean_centered =[[np.nan, 2,   -1,    -1 ,    np.nan],
                [ -1,   1,    2,     np.nan,    -1], 
                [0.75, 0.75, -1.25,  -0.25,  np.nan],
                [2,      2,   -2,   np.nan,   1]   ]

column_mean = {1: 3.6666666666666665, 2: 4.0, 3: 2.25, 4: 2.5, 5: 1.0}
pearson = {'Pearson': {1: 1.0, 2: 0.7071067811865476, 3: 0.970142500145332, 4: 1, 5: 0}}

In [56]:
means = [2, 2, 4.25, 3]

In [16]:
cosine([-1, -1.25], [-1, -0.25],)

0.7954317200324987


adjusted cosine:
    (4,1) = -1
    (4,2) = -0.99
    (4,3) = 0.79
    (4, 5) = 0

In [5]:
pearson([1, 3], [1, 4], 2.25, 2.5)

0.970142500145332

In [1]:
def pearson(a, b, mean_a, mean_b):
    numerator = np.sum([(ai - mean_a)*(bi - mean_b) for ai,bi in zip(a, b)])
    denominator = np.sqrt(np.sum([(ai - mean_a)**2 for ai in a]))*np.sqrt(np.sum([(bi - mean_b)**2 for bi in b]) )
    return numerator/denominator

def predict(ratinga, ratingb, scorea, scoreb,meana, meanb, mean_user):
    predicted = mean_user + np.sum([(ratinga - meana)*scorea + (ratingb - meanb)*scoreb])/(scorea + scoreb)
    return predicted

In [75]:
pearson([2 ,4], [4,1], 2,2)

-0.4472135954999579

In [77]:
all_scores = {1: {2:-0.44 , 3: 0.82, 4:0.94 },
                2: {1: -0.44, 3:-0.88, 4: -0.77}, 
             3: {1: 0.82, 2: -0.88, 4: 0.968 }}

predicted_rating:
    user1: 
        item1:3.41
        item5: 0.936
        
    user2: 
        item4:

In [83]:
predict(5,5,0.82, 0.94, 4.25, 3, 2)

3.4176136363636367